.false {
    transition: all 0.3s ease-in-out;
    animation: close 0.3s forwards;
    overflow: hidden;

    #img {
        animation: imgChangeFalse 0.6s forwards;
    }
    #flag {
        animation: flagAnimationFalse 0.3s forwards;
    }
    #country {
        animation: countryAnimationFalse 0.3s forwards;
    }
    #circuit {
        animation: circuitAnimationFalse 0.3s forwards;
    }
    #circuitInfos {
        animation: infosChangeFalse 0.3s forwards;
    }

    &:hover {
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    }
}

.true {
    transition: all 0.3s ease-in-out;
    animation: open 0.3s forwards;
    overflow: hidden;

    #img {
        animation: imgChangeTrue 0.6s forwards;
    }
    #flag {
        animation: flagAnimationTrue 0.3s forwards;
    }
    #country {
        animation: countryAnimationTrue 0.3s forwards;
    }
    #circuit {
        animation: circuitAnimationTrue 0.3s forwards;
    }
    #circuitInfos {
        animation: infosChangeTrue 0.3s forwards;
    }
}

@keyframes open {
    from {
        height: 100px;
    }
    to {
        height: 800px;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    }
}

@keyframes close {
    from {
        height: 800px;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    }
    to {
        height: 100px;
    }
}

@keyframes imgChangeTrue {
    0% {
        opacity: 30%;
        position: absolute;
        right: 1vw;
        top: 1vh;
    }
    20% {
        right: -100%;
        top: 30%;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        position: absolute;
        top: 32%;
        right: 50%;
        transform: translate(50%, -30%);
        width: 40vw;
    }
}

@keyframes imgChangeFalse {
    0% {
        position: absolute;
        top: 32%;
        transform: translateY(-30%);
        width: 40vw;
        right: -100%;
    }
    30% {
        opacity: 0.5;
        top: 30%;
        right: -100%;
        width: 20vw;
    }
    60% {
        top: 1.2vw;
        right: 1vw;
        width: 90px;
    }
    100% {
        opacity: 30%;
        position: absolute;
        right: 1vw;
        top: 1vh;
    }
}

@keyframes flagAnimationTrue {
    from {
        position: absolute;
        top: 3vh;
        left: 1vw;
        scale: 0.9;
    }
    to {
        position: absolute;
        top: 3vw;
        left: 10%;
        transform: translateX(-10%);
        scale: 1.5;
    }
}

@keyframes flagAnimationFalse {
    from {
        position: absolute;
        top: 3vh;
        left: 10%;
        transform: translateX(-10%);
        scale: 1.5;
    }
    to {
        position: absolute;
        top: 3vh;
        left: 1vw;
        scale: 0.9;
    }
}

@keyframes countryAnimationFalse {
    from {
        position: absolute;
        top: 2vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: white;
        font-weight: 700;
    }
    to {
        position: absolute;
        top: 6vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes countryAnimationTrue {
    from {
        position: absolute;
        top: 6vh;
        left: 50%;
        transform: translateX(-50%);
    }
    to {
        position: absolute;
        top: 2.5vw;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: white;
        font-weight: 700;
        width: 100%;
    }
}

@keyframes circuitAnimationTrue {
    0% {
        position: absolute;
        top: 2vw;
        font-size: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    25% {
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
    }

    40% {
        left: -100%;
    }

    50% {
        top: 74%;
    }

    100% {
        position: absolute;
        top: 74%;
        left: 10%;
        transform: translate(-10%, -52%);
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
    }
}
@keyframes circuitAnimationFalse {
    0% {
        position: absolute;
        top: 74%;
        left: 10%;
        transform: translate(-10%, -52%);
        font-size: 2rem;
        color: #ffffff;
        font-weight: 700;
    }

    50% {
        top: 74%;
    }

    60% {
        left: -100%;
    }

    75% {
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        position: absolute;
        top: 2.2vh;
        font-size: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

@keyframes infosChangeFalse {
    from {
        position: absolute;
        bottom: 5%;
        right: 7%;
        left: 7%;
    }
    to {
        position: absolute;
        top: 100%;
        left: 7%;
        right: 7%;
    }
}

@keyframes infosChangeTrue {
    from {
        position: absolute;
        top: 100%;
        left: 7%;
        right: 7%;
    }
    to {
        position: absolute;
        bottom: 5%;
        left: 7%;
        right: 7%;
    }
}

/* MEDIA QUERIES PARA MOBILE */

@media (max-width: 768px) {
    .true {
        animation: openMobile 0.3s forwards;

        #img {
            animation: imgChangeTrueMobile 0.6s forwards;
        }
        #flag {
            animation: flagAnimationTrueMobile 0.3s forwards;
        }
        #country {
            animation: countryAnimationTrueMobile 0.3s forwards;
        }
        #circuit {
            animation: circuitAnimationTrueMobile 0.3s forwards;
        }
    }

    .false {
        animation: closeMobile 0.3s forwards;

        #img {
            animation: imgChangeFalseMobile 0.6s forwards;
        }
        #flag {
            animation: flagAnimationFalseMobile 0.3s forwards;
        }
        #country {
            animation: countryAnimationFalseMobile 0.3s forwards;
        }
        #circuit {
            animation: circuitAnimationFalseMobile 0.3s forwards;
        }
    }

    @keyframes openMobile {
        from {
            height: 80px;
        }
        to {
            height: 550px;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
        }
    }

    @keyframes closeMobile {
        from {
            height: 550px;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
        }
        to {
            height: 80px;
        }
    }

    @keyframes circuitAnimationTrueMobile {
        0% {
            position: absolute;
            top: 3.7vh;
            font-size: 0.85rem;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
        }
        25% {
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
        }
        40% {
            left: -100%;
        }
        50% {
            top: 65%;
        }
        100% {
            position: absolute;
            top: 68%;
            left: 15%;
            transform: translate(-10%, -65%);
            font-size: 1rem;
            color: white;
            font-weight: 700;
        }
    }

    @keyframes circuitAnimationFalseMobile {
        0% {
            position: absolute;
            top: 65%;
            left: 10%;
            transform: translate(-10%, -65%);
            font-size: 1.75rem;
            color: white;
            font-weight: 700;
        }
        50% {
            top: 65%;
        }
        60% {
            left: -100%;
        }
        75% {
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
        }
        100% {
            position: absolute;
            top: 3.7vh;
            font-size: 0.85rem;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
        }
    }

    @keyframes countryAnimationFalseMobile {
        from {
            position: absolute;
            top: 5.5vw;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
            color: white;
            font-weight: 700;
        }
        to {
            position: absolute;
            top: 13.5vw;
            left: 50%;
            font-size: 0.9rem;
            transform: translateX(-50%);
        }
    }

    @keyframes countryAnimationTrueMobile {
        from {
            position: absolute;
            top: 13.5vw;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.9rem;
        }
        to {
            position: absolute;
            top: 5.5vw;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.3rem;
            color: white;
            font-weight: 700;
            width: 100%;
        }
    }

    @keyframes flagAnimationTrueMobile {
        from {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            scale: 0.7;
        }
        to {
            position: absolute;
            top: 5vw;
            left: 7%;
            transform: translateX(-8%);
            scale: 1.3;
        }
    }

    @keyframes flagAnimationFalseMobile {
        from {
            position: absolute;
            top: 5vw;
            left: 8%;
            transform: translateX(-8%);
            scale: 1.5;
        }
        to {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            scale: 0.7;
        }
    }

    @keyframes imgChangeTrueMobile {
        0% {
            opacity: 30%;
            position: absolute;
            right: 1.5vw;
            top: 2vw;
        }
        20% {
            right: -100%;
            top: 25%;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            position: absolute;
            top: 25%;
            right: 50%;
            transform: translate(50%, -30%);
            width: 80vw;
        }
    }

    @keyframes imgChangeFalseMobile {
        0% {
            position: absolute;
            opacity: 0;
            top: 25%;
            right: 50%;
            transform: translate(50%, -30%);
            width: 80vw;
            right: -100%;
        }
        30% {
            opacity: 0.5;
            top: 25%;
            right: -100%;
        }
        60% {
            right: 1.5vw;
            top: 2vw;
            width: 20vw;
        }
        100% {
            opacity: 30%;
            position: absolute;
            right: 1.5vw;
            top: 2vw;
        }
    }
}
