@import "tailwindcss";

@font-face {
  font-family: "Formula1 Display Regular";
  src: url("../fonts/Formula1-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Formula1 Display Bold";
  src: url("../fonts/Formula1-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Formula1 Display Wide";
  src: url("../fonts/Formula1-Wide.otf") format("opentype");
}

body{
  font-family: "Formula1 Display Regular";
}